.mt-3 {
    margin-top: 3rem;
}
.center-btn {
    width: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.logout-btn {
    position: fixed;
    top: 25px;
    width: 150px;
    left: calc(100% - 175px);
}